<?xml version="1.0" encoding="utf-8"?>
<!-- 

Copyright © 2020 Eren "Haltroy" Kanat

Use of this source code is governed by MIT License that can be found in github.com/Haltroy/Korot/blob/master/LICENSE 

-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Korot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Korot.Properties.Settings>
      <setting name="LastUser" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSessionURIs" serializeAs="String">
        <value />
      </setting>
      <setting name="KorotErrorTitle" serializeAs="String">
        <value>Korot ran into a problem and crashed.</value>
      </setting>
      <setting name="KorotErrorDesc" serializeAs="String">
        <value>Your Korot installation is safe but Korot cannot continue at this point.[NEWLINE]If this happens frequently, feel free to open issues on GitHub.</value>
      </setting>
      <setting name="KorotErrorTI" serializeAs="String">
        <value>Techical Information:</value>
      </setting>
      <setting name="KorotErrorRestart" serializeAs="String">
        <value>Restart</value>
      </setting>
    </Korot.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Svg" publicKeyToken="12a0bac221edeae2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>