<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Korot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Korot.Properties.Settings>
            <setting name="Homepage" serializeAs="String">
                <value>korot://newtab</value>
            </setting>
            <setting name="History" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowSizeH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowSizeW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowPosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowPosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Favorites" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchURL" serializeAs="String">
                <value>https://www.google.com/search?q=</value>
            </setting>
            <setting name="downloadOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="downloadClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LangFile" serializeAs="String">
                <value />
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="OverlayColor" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="DowloadHistory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeFile" serializeAs="String">
                <value>Korot Light.ktf</value>
            </setting>
            <setting name="BackStyle" serializeAs="String">
                <value>background-color: #ffffff</value>
            </setting>
            <setting name="LastSessionURIs" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateChannel" serializeAs="String">
                <value>0</value>
            </setting>
        </Korot.Properties.Settings>
    </userSettings>
</configuration>