<?xml version="1.0" encoding="utf-8"?>
<!-- 

Copyright © 2020 Eren "Haltroy" Kanat

Use of this source code is governed by MIT License that can be found in github.com/Haltroy/Korot/blob/master/LICENSE 

-->
<packages>
  <package id="cef.redist.x64" version="85.3.13" targetFramework="net48" />
  <package id="cef.redist.x86" version="85.3.13" targetFramework="net48" />
  <package id="CefSharp.Common" version="107.1.40" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="85.3.130" targetFramework="net48" />
  <package id="Fizzler" version="1.2.0" targetFramework="net48" />
  <package id="HTAlt.Standart" version="0.1.6" targetFramework="net48" />
  <package id="HTAlt.WinForms" version="0.1.6" targetFramework="net48" />
  <package id="LargeAddressAware" version="1.0.5" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net48" />
  <package id="Svg" version="3.1.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net48" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net48" />
  <package id="Win32Interop.Dwmapi" version="1.0.1" targetFramework="net452" />
  <package id="Win32Interop.Gdi32" version="1.0.1" targetFramework="net452" />
  <package id="Win32Interop.Kernel32" version="1.0.1" targetFramework="net452" />
  <package id="Win32Interop.User32" version="1.0.1" targetFramework="net452" />
  <package id="Win32Interop.Uxtheme" version="1.0.1" targetFramework="net452" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net48" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net48" />
</packages>