<?xml version="1.0" encoding="utf-8"?>
<!--

Copyright © 2020 Eren "Haltroy" Kanat

Use of this source code is governed by an MIT License that can be found in github.com/Haltroy/Korot/blob/master/LICENSE

-->
<packages>
  <package id="cef.redist.x64" version="86.0.24" targetFramework="net48" />
  <package id="cef.redist.x86" version="86.0.24" targetFramework="net48" />
  <package id="CefSharp.Common" version="86.0.241" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="86.0.241" targetFramework="net48" />
  <package id="Fizzler" version="1.2.1" targetFramework="net48" />
  <package id="HTAlt.Standart" version="0.1.6.3" targetFramework="net48" />
  <package id="HTAlt.WinForms" version="0.1.6.3" targetFramework="net48" />
  <package id="LargeAddressAware" version="1.0.5" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net48" />
  <package id="Svg" version="3.2.3" targetFramework="net48" />
  <package id="System.Drawing.Common" version="5.0.0" targetFramework="net48" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net48" />
  <package id="Win32Interop.Dwmapi" version="1.0.1" targetFramework="net452" />
  <package id="Win32Interop.Gdi32" version="1.0.1" targetFramework="net452" />
  <package id="Win32Interop.Kernel32" version="1.0.1" targetFramework="net452" />
  <package id="Win32Interop.User32" version="1.0.1" targetFramework="net452" />
  <package id="Win32Interop.Uxtheme" version="1.0.1" targetFramework="net452" />
</packages>